*.cache
*.db
*.exp
*.iobj
*.ipch
*.ipdb
*.json
*.lastbuildstate
*.lib
*.log
*.metagen
*.obj
*.opendb
*.opensdf
*.pch
*.pdb
*.res
*.sdf
*.suo
*.tlog
*.user
*.zip

.vs/*
Debug/*
Release/*

bin/*
ipch/*
logs/*
